In [31]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.firefox.options import Options
import pandas as pd

In [32]:
driver = webdriver.Firefox(options= Options())

In [58]:
driver.get('https://gurubelajarku.com/nama-latin-tumbuhan/')
tbody = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/main/article/div/table[1]/tbody')
data = []
for tr in tbody.find_elements(By.XPATH,'//tr'):
    row = [item.text for item in tr.find_elements(By.XPATH,'.//td')]
    data.append(row)
df = pd.DataFrame(data)
df = pd.DataFrame(data[1:], columns=data[0])
df

       Nama Tumbuhan             Nama Latin
0            Alpukat       Persea americana
1               Apel            Pyrus malus
2    Belimbing Manis     Averrhoa carambola
3    Belimbing Wuluh       Averrhoa bilimbi
4            Ceremai     Phyllanthus acidus
..               ...                    ...
101          Kesambi     Schleichera oleosa
102             Padi           Oryza sativa
103       Petai Cina  Leucaena leucocephala
104           Terung      Solanum melongena
105             Tuba       Derris elliptica

[106 rows x 2 columns]